<div class="slider fullscreen">
  <ul class="slides">

     {{#each services }}
        <li>
            
            <img class="responsive-img" src="images/service/gallery/{{ serviceBannerImgUrl }}">
            <p>{{ imgUrl }}</p>
            <!-- random image -->
            <div class="caption center-align">
                <h3>{{ title }}</h3>
                <h4 class="light grey-text text-lighten-3">{{{ desc }}} <p>{{ imgUrl }}</p></h4>
                
            </div>
        </li>

   {{/each }}
  </ul>
</div>