<div class="contain-fluid">
    <div class="display-text">
        {{!-- <div class="row">
            <div>
                <img src="./images/logo-red.png" alt="Logo" class="logo">
            </div>
        </div> --}}

        <div class="row">
            <div class="container-fluid">
                <div class="welcome-text" style="margin-left: 5px;margin-right: 5px;">
                    <p>{{ display.title }}</p>
                    <p>{{ display.subtitle }}</p>

                </div>
                <hr>
            </div>

            <div class="container-fluid">
                <div class="welcome-text" style="margin-left: 5px;margin-right: 5px;">

                    <div class="row">
                        <div class="col s2 m2 l2">

                        </div>
                        <div class="col s8 m8 l8 left">
                            <h3>
                                {{{ display.desc}}}
                            </h3>
                        </div>

                        <div class="col s2 m2 l2">

                        </div>

                    </div>
                </div>
                <hr>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="display-text-footer center">
                        <div class="col s6 m6 l6">
                            <br>
                            <div class="col s12 m12 l12 center">
                                <h3>Time:</h3>

                                <div class="input-field col s12 m12 l12 center">
                                    <h2>
                                        {{ display.footer}}
                                    </h2>
                                </div>
                            </div>



                        </div>

                    </div>
                    <div class="col s6 m6 l6">
                        <br>
                        <div class="col s12 m12 l12 center">
                            <h3>Meeting Rooms:</h3>

                            <div class="input-field col s12 center">
                                <h2>
                                    {{ display.subfooter}}
                                </h2>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

</div>

</div>